################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoDocker/obj
/AutoDocker/bin/Debug/net6.0
/AutoDocker/.vs/AutoDocker
/AutoDocker/.vs/ProjectEvaluation
/AutoDocker/bin/Debug/net7.0
/Infrastructure/bin/Debug/net6.0
/Infrastructure/obj
/Smithy/bin/Debug/net6.0
/Smithy/obj
/SmithyParser/bin/Debug/net6.0
/SmithyParser/obj
/SmithyParser/bin/Release/net6.0
/Infrastructure/bin/Release/net6.0
/AutoDocker/bin/Release/net6.0
/Infrastructure/Infrastructure.csproj.user
/Infrastructure/Properties/PublishProfiles
/PlatformGenerator/bin/Debug/net6.0
/PlatformGenerator/obj
