################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutoDocker/obj
/AutoDocker/bin/Debug/net6.0
/AutoDocker/.vs/AutoDocker
